[submodule "components/LovyanGFX"]
	path = components/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "main/lib/mjson"]
	path = main/lib/mjson
	url = https://github.com/CircuitMess/mjson.git
[submodule "main/lib/glm"]
	path = main/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "components/Perse-Common"]
	path = components/Perse-Common
	url = git@github.com:CircuitMess/Perse-Common.git
[submodule "components/JPEGDEC"]
	path = components/JPEGDEC
	url = https://github.com/bitbank2/JPEGDEC.git
